In [11]:
#importing the libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.metrics import confusion_matrix,classification_report
from sklearn.metrics import accuracy_score

In [12]:
#importing the datset
dataset=pd.read_csv('Social_Network_Ads.csv')
X=dataset.iloc[:,[2,3]].values
y=dataset.iloc[:,4].values
dataset.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [13]:
#Splitting the dataset into the Training set and Test set
from sklearn.cross_validation import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25, random_state = 0)

In [16]:
#Feature Scaling
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [17]:
# Fitting Naive Bayes to the Training set
from sklearn.naive_bayes import GaussianNB
classifier = GaussianNB()
classifier.fit(X_train, y_train)

GaussianNB(priors=None)

In [18]:
# Predicting the Test set results
y_pred = classifier.predict(X_test)

In [19]:
#predicting Output
y_pred

array([0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1,
       0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       1, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1], dtype=int64)

In [20]:
#show dataset in table order by pandas dataframe
dataset = pd.DataFrame(y_pred,y_test)
#print
dataset

    0
0   0
0   0
0   0
0   0
0   0
0   0
0   0
1   1
0   0
0   1
0   0
0   0
0   0
0   0
0   0
0   0
0   0
0   0
1   1
0   0
0   0
1   1
0   0
1   1
0   0
1   1
0   0
0   0
0   0
0   0
.. ..
1   1
0   0
0   0
1   0
0   0
0   0
0   0
0   0
1   1
1   1
1   1
0   1
0   0
0   0
1   1
1   0
0   0
1   1
1   0
0   0
0   0
1   1
0   0
0   0
0   0
1   0
0   0
1   1
1   1
1   1

[100 rows x 1 columns]

In [21]:
# Making the Confusion Matrix

cm = confusion_matrix(y_test, y_pred)
#print
cm

array([[65,  3],
       [ 7, 25]], dtype=int64)

In [24]:
cmdataset = pd.DataFrame(cm)
#confusion matrix
print(cmdataset)

    0   1
0  65   3
1   7  25

In [25]:
#find accuracy
accuracy = accuracy_score(y_test, y_pred)
print(accuracy)

0.9

In [27]:
#report on accuracy
print(classification_report(y_test, y_pred))

             precision    recall  f1-score   support

          0       0.90      0.96      0.93        68
          1       0.89      0.78      0.83        32

avg / total       0.90      0.90      0.90       100